@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #eee;
    --primary-fg: #000;
    --secondary-bg: #ddd;
    --secondary-fg: #555;
    --primary-btn-bg: #000;
    --primary-btn-fg: #fff;
    --secondary-btn-bg: #ff0000;
    --secondary-btn-fg: #ffff00;
    --image-opacity: 1;
}

html[dark-mode="dark"] {
    --primary-bg: #282c35;
    --primary-fg: #fff;
    --secondary-bg: #1e2129;
    --secondary-fg: #aaa;
    --primary-btn-bg: #ddd;
    --primary-btn-fg: #222;
    --secondary-btn-bg: #780404;
    --secondary-btn-fg: #baba6a;
    --image-opacity: 0.85;
}

body {
    background: var(--primary-bg);
    font-family: "Source Serif Pro", serif;
    color: var(--primary-fg);
    text-decoration: none;
}

h2,
h6 {
    font-size: 3em;
    padding-bottom: 10px;
    color: var(--primary-fg);
}

#dark-mode-toggle {
    /* top: 80px;
  right: 30px; */
    font-size: 34px;
    cursor: pointer;
}

nav {
    display: flex;
    height: 65px;
    width: 100%;
    background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    padding-bottom: 12px;
    font-weight: 600;
    font-family: "Source Serif Pro", serif;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    padding-top: 12px;
    margin: 5px;
    text-decoration: none;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
    text-decoration: none;
}

nav .menu-btn i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

nav ul li img {
    color: white;
}

input[type="checkbox"] {
    display: none;
}
/*slider switch css */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  padding: 20px;

}
.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 58px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border: 3px solid #c7c5b3;
}
.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "🌙";
  font-size: 18px;
  height: 28px;
  left: -3px;
  position: absolute;
  transition: .4s;
  width: 28px;
  padding: 1px;
}

input:checked + .slider {
  background-color: #000000;
  border:3px solid black;
}
input:not(:checked)+ .slider:before{
    content: "☀️";
    background-color: #e8e9eaf0;
}
input:checked + .slider:before {
  transform: translateX(34px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
    top: -5.5px;
}
@media (max-width: 920px) {
    nav {
        position: fixed;
        top: 0;
        z-index: 2;
    }
    nav .logo {
        align-items: center;
        padding-top: 10px;
        /* margin-left: 0px; */
        font-size: 25px;
    }
    .nav .logo .img {
        visibility: hidden;
    }
    nav .menu-btn i {
        display: block;
        margin-top: 10px;
        padding-left: 2px;
    }
    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 65px;
        left: -100%;
        background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    #click:checked~ul {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 20px 0;
    }
    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked~ul li a {
        margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        color: cyan;
        box-shadow: none;
    }
    h2 {
        font-size: 2em;
    }
.dark-mode-toggle{
   margin-left: 46%; 
  }
}
@media (max-width: 600px) {
 .dark-mode-toggle{
  margin-left: 43%;   
  }  
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: red;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
    z-index: 1;
    border: 3px solid red;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #03f718;
    color: #fff;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*To remove dotted outline in firefox*/

button::-moz-focus-inner {
    border: 0;
}

button:focus {
    outline: 0;
}

.spacer {
    height: 115px;
    margin-bottom: 1vw;
}

.add-button {
    position: fixed;
    bottom: 50px;
    right: 7.5vw;
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    background-color: orange;
    font-size: 40px;
    color: white;
    z-index: 2;
    cursor: pointer;
}

.add-button:active {
    transform: translate(0, -20px);
}

@keyframes fade-in {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

.note {
    position: relative;
    width: 17.8%;
    display: inline-block;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    text-align: center;
    vertical-align: top;
    margin: 1vw;
    padding-bottom: 5px;
    animation-name: fade-in;
    animation-duration: 0.6s;
}

.note-title {
    width: 85%;
    height: 1.3em;
    display: inline-block;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: none;
    resize: none;
    overflow: hidden;
    margin: 0;
}

.note-content {
    width: 90%;
    height: 100px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    resize: none;
    overflow: hidden;
    border: none;
    font-size: 16px;
    margin: 0;
}

.option-button {
    float: right;
    position: relative;
    bottom: 20px;
    margin-right: 10px;
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 42px;
    color: gray;
    cursor: pointer;
}

.option-button:active {
    bottom: 30px;
}

.note-menu {
    position: absolute;
    bottom: 45px;
    right: 15px;
    z-index: 3;
    background-color: lightgray;
    display: inline-block;
    border-radius: 15px;
    width: 160px;
    padding: 5px 5px 0px 5px;
    -moz-box-shadow: 2px 2px 6px 2px#777777;
    -webkit-box-shadow: 2px 2px 6px 2px #777777;
    box-shadow: 2px 2px 6px 2px #777777;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 0.4s;
}

.color-option {
    display: 'inline-block';
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 5px;
    cursor: pointer;
}

.color-option:active {
    position: relative;
    bottom: 5px;
}

.delete-note {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.delete-note:active {
    position: relative;
    bottom: 5px;
}

.delete-text {
    margin: 0px;
    color: #993333;
    display: inline-block;
    vertical-align: middle;
}

.delete-icon {
    margin: 0px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 1450px) {
    .note {
        width: 22.75%;
    }
}

@media screen and (max-width: 1050px) {
    .note {
        width: 31%;
    }
}

@media screen and (max-width: 650px) {
    .note {
        margin-top: 80px;
        width: 47.5%;
    }
    .note-menu {
        width: 140px;
        padding: 3px;
    }
    .color-option {
        margin: 3px;
    }
    .header {
        height: 100px;
    }
    .spacer {
        height: 100px;
    }
    .note-title {
        font-size: 18px;
        font-weight: 600;
        width: 80%;
    }
    .add-button {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }
    .delete-note {
        margin: 0;
    }
    .add-button:active {
        transform: translate(0, -10px);
    }
    .option-button {
        font-size: 40px;
        margin-right: 10px;
    }
}

footer {
    top: 90vh;
}