* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  --i: var(--wide, 1);
  --j: calc(1 - var(--i));
  overflow-x: hidden;
  height: 100%;
  font: 400 1em/ 1.25 koho, trebuchet ms, verdana, century gothic, arial,
    sans-serif;
}
@media (max-width: 39em) {
  html {
    --wide: 0;
  }
  body {
    padding-top: 20px;
  }
}
@media (max-width: 15em) {
  html {
    font-size: 0.75em;
  }
  body {
    padding-top: 20px;
  }
}

#loading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff url('assets/Loader.gif') no-repeat center;
  z-index: 10;
  
}

body {
  padding-top: 80px;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
}

article {
  --p: var(--parity, 1);
  --q: calc(1 - var(--p));
  --s: calc(1 - 2 * var(--p));
  display: grid;
  grid-template: calc(var(--j) * 2.5em) 5em 1fr / calc(
      var(--i) * (var(--q) * 13.5em + var(--p) * 5em) + var(--j) * 3.5em
    ) 1fr calc(
      var(--i) * (var(--p) * 13.5em + var(--q) * 5em) + var(--j) * 3.5em
    );
  overflow: hidden;
  margin: 1em auto;
  max-width: 39em;
  min-height: 10em;
  border-radius: calc(var(--i) * 10em);
  box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#f0f0f0, #fafafa 5em, #eaeaea 0, #dadada) 0 100%/100%
    calc(100% - var(--j) * 2.5em);
  counter-increment: idx;
}
article:before,
article :after {
  --m: 0;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.65);
  transform-origin: calc(var(--p) * 100%) calc((1 - var(--m)) * 100%);
  transform: skewx(calc(var(--i) * var(--s) * (1 - 2 * var(--m)) * 27deg));
  background: linear-gradient(
    calc(var(--s) * (1 - 2 * var(--m)) * 90deg),
    HSL(var(--hsl0)),
    HSL(var(--hsl1))
  );
  content: "";
}
article:before,
article h3 {
  grid-row: 1 / calc(2 + 2 * var(--i));
  grid-column: calc(1 + 2 * var(--i) * var(--p)) / span calc(1 + 2 * var(--j));
}
article:after {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2/ 3;
  grid-column: calc(3 - 2 * var(--i) * var(--p)) / span 1;
  font-size: calc(var(--i) * 1.5625em + var(--j) * 1.75em);
  content: attr(data-icon);
}
article:nth-of-type(odd) {
  --parity: 0;
}

h3 {
  display: grid;
  grid-template: repeat(calc(var(--i) + 1), 2em) / repeat(
      calc(var(--j) + 1),
      3.5em
    );
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: calc(var(--i) * 1.75em) calc(var(--i) * var(--q) * 2.05em) 0
    calc(var(--i) * var(--p) * 2.05em);
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
h3:before {
  font-size: calc(var(--i) * 2em + 1em);
  font-weight: 500;
  content: counter(idx, decimal-leading-zero);
}
h3:after {
  --m: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h4,
p {
  padding: var(--pv, 0) calc(var(--i) * 1.75rem + var(--j) * 2vw);
}

h4 {
  grid-row: 2/ 3;
  grid-column: calc(1 + var(--i)) / 3;
  align-self: self-end;
  color: HSL(var(--hsl1));
  font-size: 1.75em;
  font-weight: 900;
  text-transform: uppercase;
}
h4:before {
  white-space: pre;
  font-weight: 500;
}

p {
  --pv: 0.5em;
  grid-row: 3/4;
  grid-column: calc(1 + var(--i)) / calc(3 + var(--j));
}
p:before {
  display: block;
  margin-bottom: 0.5em;
  width: 0.75em;
  height: 0.75em;
  box-shadow: 1.5em 0 HSLa(var(--hsl1), 0.8), 3em 0 HSLa(var(--hsl1), 0.6),
    4.5em 0 HSLa(var(--hsl1), 0.4), 6em 0 HSLa(var(--hsl1), 0.2);
  background: HSL(var(--hsl1));
  border-radius: 50%;
  content: "";
}

.clickable{
  cursor: pointer;
}
.box1:hover{
  border:2px solid rgb(22, 248, 22);
  box-shadow: 2px 2px 5px rgb(94, 255, 94);
}
.box2:hover{
  border:2px solid rgb(255, 135, 54);
  box-shadow: 3px 3px 5px rgb(253, 151, 104);
}
.box3:hover{
  border:2px solid rgb(23, 255, 178);
  box-shadow: 2px 2px 5px rgb(78, 248, 177);
  cursor:pointer;
}
/* Contact section start */
.contact{
  background-color: var(--black-100);
}
.contact-info h3{
  font-size: 22px;
  color: var(--black-900);
  font-weight: 500;
  margin: 0 0 40px;
}
.contact-info-item{
  position: relative;
  padding-left: 55px;
  margin: 30px;
}
.contact-info-item i{
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  text-align: center;
  line-height: 38px;
}
.contact-info-item h3{
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px;
  color: var(--black-900);
}
.contact-info-item p{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}
.contact-form .form-group{
  margin-bottom: 25px;
}
.contact-form .form-control{
  height: 52px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 30px;
  padding: 0 24px;
  color: var(--black-900);
  background-color: var(--black-000);
  transition: all 0.5s ease;
}
.contact-form textarea.form-control{
  height: 140px;
  padding-top: 12px;
  resize: none;
}
.contact-form .form-control:focus{
  border-color: var(--main-color);
}
.col-lg-6{
margin: 48px 5px 47px -10px;
border: 1px solid black;
background-color: #a2aeec5c;
border-radius: 20px;
margin-bottom: 35px;
}
.php-email-form{
margin: 46px 5px 5px 5px;
}
.text{
margin: 56px 5px 5px 5px;
font-size: 39px;
font-weight: 800;
color: #dcff1e;

}
.img{
margin: 30px 12px 2px 6px;
  width: 500px;
}
.text1{
border: 2px solid white;
  margin: 11px 5px 21px 5px;
  border-radius: 34px;
  background-color: #2233fe;
  color: white;
  font-weight: 500;
  box-shadow: 2px 2px 2px rgba(141, 141, 141, 0.466);
  text-shadow: 1px 1px 2px rgba(170, 170, 170, 0.623);
}
.text3{
margin: 13px 9px 12px 14px;
font-size: 20px;
  
}
.text1:hover{
background-color: white;
border: 3px solid #2233fe;
color: #2233fe;
box-shadow: 2px 2px 2px #2233fe;
cursor: pointer;
font-weight: 600;
}
/* Contact section end */          

