@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');

footer{
    position: relative;
    top: 800px;
    width: 100%;
    font-family: "Source Serif Pro", serif;
    padding-top: 30px;
    background: rgb(6, 82, 92);
    background-size: 100%;
    line-height: 2rem;
    overflow-y: scroll;
}
.footer-list>li, .connect{
    width: 100%;
    margin-left: 20%;
    text-align: left;
}
.copyrights{
    background: rgb(0, 27, 31);
}