@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #eee;
  --primary-fg: #000;
  --secondary-bg: #ddd;
  --secondary-fg: #555;
  --primary-btn-bg: #000;
  --primary-btn-fg: #fff;
  --secondary-btn-bg: #ff0000;
  --secondary-btn-fg: #ffff00;
  --image-opacity: 1;
  --card-bg: #292929;
}

.dark-mode {
  --primary-bg: #282c35;
  --primary-fg: #fff;
  --secondary-bg: #1e2129;
  --secondary-fg: #aaa;
  --primary-btn-bg: #ddd;
  --primary-btn-fg: #222;
  --secondary-btn-bg: #780404;
  --secondary-btn-fg: #baba6a;
  --image-opacity: 0.85;
  --card-bg: #fff;
}

body {
  background: var(--primary-bg);
  font-family: "Source Serif Pro", serif;
  color: var(--primary-fg);
  text-decoration: none;
}

#dark-mode-toggle {
  /* top: 80px;
  right: 30px; */
  font-size: 34px;
  cursor: pointer;
}

nav {
  display: flex;
  height: 65px;
  width: 100%;
  background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  cursor: pointer;
  color: #fff;
  font-size: 32px;
  padding-bottom: 12px;
  font-weight: 600;
  font-family: "Source Serif Pro", serif;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  padding-top: 12px;
  margin: 5px;
  text-decoration: none;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
  text-decoration: none;
}

nav .menu-btn i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

nav ul li img {
  color: white;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 920px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 2;
  }
  nav .logo {
    align-items: center;
    padding-top: 10px;
    /* margin-left: 0px; */
    font-size: 25px;
  }
  .nav .logo .img {
    visibility: hidden;
  }
  nav .menu-btn i {
    display: block;
    margin-top: 10px;
    padding-left: 2px;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 65px;
    left: -100%;
    background: linear-gradient(315deg, #6617cb 0%, #882463 74%);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 20px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    color: cyan;
    box-shadow: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  visibility: hidden;
  /* border-radius: 6px;
  background-color: white; */
}
::-webkit-scrollbar-thumb {
  background: #f30f2d;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #03f718;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: red;
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  z-index: 1;
  border: 3px solid red;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #03f718;
  color: #fff;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}




  
  .wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 767px) {
    .wrapper {
      height: 700px;
    }
  }
  .content {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    .content {
      padding-top: 70px;
      flex-direction: column;
    }
  }
  .card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 450px;
    background-color: var(--card-bg);
    /* background-color: #292929; */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
  }
  
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  
  .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: var(--primary-bg);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    height: 470px;
  }
  
  .card:hover .info {
    height: 90%;
  }
  
  .card:hover .text {
      color: var(--primary-bg);
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
  }
  
  .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
  }
  
