* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home{
  --i: var(--wide, 1);
  --j: calc(1 - var(--i));
  overflow-x: hidden;
  height: 100%;
  font: 400 1em/ 1.25 koho, trebuchet ms, verdana, century gothic, arial,
    sans-serif;
}
@media (max-width: 39em) {
  #home{
    --wide: 0;
    padding-top: 20px;
  }
}
@media (max-width: 15em) {
  #home{ 
    font-size: 0.75em;
    padding-top: 20px;
  }
}

#home{
  width: 100vw;
  height: 100vh;
  align-content: center;
  display: grid;
  margin-top: -40px;
  background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
}

.langcard {
  --p: var(--parity, 1);
  --q: calc(1 - var(--p));
  --s: calc(1 - 2 * var(--p));
  display: grid;
  grid-template:
    calc(var(--j) * 2.5em) 5em 1fr / calc(
      var(--i) * (var(--q) * 13.5em + var(--p) * 5em) + var(--j) * 3.5em
    )
    1fr calc(
      var(--i) * (var(--p) * 13.5em + var(--q) * 5em) + var(--j) * 3.5em
    );
  overflow: hidden;
  margin: 1em auto;
  max-width: 39em;
  min-height: 10em;
  border-radius: calc(var(--i) * 10em);
  box-shadow: 15px 15px 17px rgba(0, 0, 0, 0.25);
  background: linear-gradient(#f0f0f0, #fafafa 5em, #eaeaea 0, #dadada) 0 100%/100%
    calc(100% - var(--j) * 2.5em);
  counter-increment: idx;
}

.langcard::before,
.langcard ::after {
  --m: 0;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.65);
  transform-origin: calc(var(--p) * 100%) calc((1 - var(--m)) * 100%);
  transform: skewx(calc(var(--i) * var(--s) * (1 - 2 * var(--m)) * 27deg));
  background: linear-gradient(
    calc(var(--s) * (1 - 2 * var(--m)) * 90deg),
    HSL(var(--hsl0)),
    HSL(var(--hsl1))
  );
  content: "";
}
.langcard::before,
.langcard h3 {
  grid-row: 1 / calc(2 + 2 * var(--i));
  grid-column: calc(1 + 2 * var(--i) * var(--p)) / span calc(1 + 2 * var(--j));
}
.langcard::after {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2/ 3;
  grid-column: calc(3 - 2 * var(--i) * var(--p)) / span 1;
  font-size: calc(var(--i) * 1.5625em + var(--j) * 1.75em);
  content: attr(data-icon);
}
.langcard:nth-of-type(odd) {
  --parity: 0;
}
.langcard h3 {
  grid-row: 1 / calc(2 + 2 * var(--i));
  grid-column: calc(1 + 2 * var(--i) * var(--p)) / span calc(1 + 2 * var(--j));
}

.langcard h3 {
  display: grid;
  grid-template: repeat(calc(var(--i) + 1), 2em) / repeat(
      calc(var(--j) + 1),
      3.5em
    );
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: calc(var(--i) * 1.75em) calc(var(--i) * var(--q) * 2.05em) 0
    calc(var(--i) * var(--p) * 2.05em);
  color: #fff;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
.langcard h3::before {
  font-size: calc(var(--i) * 2em + 1em);
  font-weight: 500;
  content: counter(idx, decimal-leading-zero);
}

.langcard h3::after {
  --m: 1 !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.langcard h4,
.langcard p {
  padding: var(--pv, 0) calc(var(--i) * 1.75rem + var(--j) * 2vw);
}

.langcard h4 {
  grid-row: 2/ 3;
  grid-column: calc(1 + var(--i)) / 3;
  align-self: self-end;
  color: HSL(var(--hsl1));
  font-size: 1.75em;
  font-weight: 900;
  text-transform: uppercase;
}
.langcard h4::before {
  white-space: pre;
  font-weight: 500;
}

.langcard p {
  --pv: 0.5em;
  grid-row: 3/4;
  grid-column: calc(1 + var(--i)) / calc(3 + var(--j));
}

.langcard p::before {
  display: block;
  margin-bottom: 0.5em;
  width: 0.75em;
  height: 0.75em;
  box-shadow: 1.5em 0 HSLa(var(--hsl1), 0.8), 3em 0 HSLa(var(--hsl1), 0.6),
    4.5em 0 HSLa(var(--hsl1), 0.4), 6em 0 HSLa(var(--hsl1), 0.2);
  background: HSL(var(--hsl1));
  border-radius: 50%;
  content: "";
}

.clickable {
  cursor: pointer;
}
