footer{
    padding-top: 20px;
    background: rgb(6, 82, 92);
    background-size: 100%;
    clip-path: polygon(26% 0, 100% 4%, 100% 100%, 0 100%, 0 5%);
    align-items: left;
    line-height: 2rem;
}
footer>.container{
    font-size:18px ;
}
.footer-list>li, .connect{
    width: 100%;
    margin-left: 20%;
    text-align: left;
}
.copyrights{
    background: rgb(0, 27, 31);
}